@import url("https://fonts.googleapis.com");

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(20, 19, 19);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span {
  font-weight: normal;
}

#map {
  height: 45vh;
  z-index: 50;
}

#headerContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

#headerAirline {
  border: solid 1px;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgb(20, 19, 19);
  filter: drop-shadow(0 0 4px rgb(88, 88, 200));
}

#randomizeButton {
  height: 3rem;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #3d4f7b 0%, #3c72dd 100%);
  font-weight: bold;
  color: white;
  transition: background-color 1s ease;
  transition: scale 1s ease;
}

#randomizeButton:hover {
  background: linear-gradient(90deg, #5a73b2 0%, #5b90fb 100%);
  scale: 1.1;
  cursor: pointer;
}

#airlineInformation {
  display: flex;
  flex-direction: column;
}

#flightInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  border: solid 1px;
  border-radius: 8px;
  padding: 1rem;
  width: 50%;
  background-color: rgb(20, 19, 19);
  filter: drop-shadow(0 0 4px rgb(88, 88, 200));
}

#callsign {
  border-radius: 20px;
  background: linear-gradient(90deg, #3d4f7b 0%, #3c72dd 100%);
  padding: 8px;
}

#searchDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

#search {
  width: 100%;
  border: none;
  border-radius: 8px;
  transition: scale 0.5s ease;
}

#search:hover {
  scale: 1.05;
}

#searchButton {
  height: 3rem;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #3d4f7b 0%, #3c72dd 100%);
  font-weight: bold;
  color: white;
  transition: background-color 1s ease;
  transition: scale 1s ease;
}

#searchButton:hover {
  background: linear-gradient(90deg, #5a73b2 0%, #5b90fb 100%);
  scale: 1.1;
  cursor: pointer;
}

#loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#loader[hidden] {
  display: none !important;
}

#loader p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #ffffff #ffffff00;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
